.content {
  height: 100vh;
 
}
.content-title {
  background-color: antiquewhite;
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
  align-items: center;
  padding: 50px 0;
}
.content-layout {
  display: flex;
  height: 100%;
  background-color: white;
 
}
.content-side {
  background-color: #f4f4f4;
  padding: 50px 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}
.content-side--title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 40px;
  
}
.content-option--ac,
.content-option--ees {
  font-size: 1.2rem;
  padding: 20px;
  cursor: pointer;
}
.content-option--ac:hover,
.content-option--ees:hover {
  background-color: lightgrey;
}
.content-option {
  font-size: 2rem;
  
}
.content-list--items-item {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 15px;
  margin: 25px;
}
.content-list--items-item:hover {
  border: 1px solid red;
  
}
.content-list--items-name {
  font-size: 1.1rem;
  border-bottom: 1px solid black;
  text-align: initial;
  font-weight: 600;
}
.content-list--items-un {
  text-align: initial;
  padding: 7px 0;
  color: grey;
}
.content-list--items-paper{
  text-align: initial;
}

.paper-title {
  font-weight: 500;
}
.paper-date {
font-size: 0.9rem;
padding: 7px 0;

}
/* .content-table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
  border: 1px solid black
}
.content-table-titles {
  display: flex;
  justify-content: space-around;
}
.data-input {
  height: 100px;
} */
