.banner {
  width: 100%;
  height: 100px;
  /* background-color: #240121; */
  background-color: red;
  align-items: center;
  display: flex;
  
}
.logo-icon{
  padding-left: 30px;

}
.banner-title {

  color: white;
  font-size: 1.5rem;
  padding-left: 470px;
}

